body {
  background: #0a1d37;
  color: #fff;
}
.admin-container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width:280px;
  background: #001d3d;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  color: #00b4d8;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding-left:0;
}

.sidebar ul li  {
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar ul li:hover,
.sidebar ul li.active {
  background: #0077b6;
}
.sidebar ul li a{
  color:white;
  text-decoration:none;
}

/* Main Content */
.main-content {
  width:90%;
  padding: 30px;
  background: #052659;
  overflow-y: scroll;
}
.main-content h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background: #001d3d;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #003566;
}

th {
  background: #003566;
  color: #90e0ef;
}
button {
  padding: 6px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.edit-btn {
  background-color: #28a745;
  color: white;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}
.registration-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.registration-form {
  background: white;
  padding: 35px 45px;
  border-radius: 15px;
  width: 800px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.registration-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
}

input,
select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

input:focus,
select:focus {
  border-color: #667eea;
}

.gender-options {
  display: flex;
  gap: 10px;
  align-items: center;
}

.signup{
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(135deg, #5a67d8, #6b46c1);
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}

/*----------------------------------------------------CONTACT PANEL----------------------------------*/




